/* ===============CLASE 14 - LUNES-16/08/2023=============== */
.card-prodcuts-container {
    margin: 5vh auto;    
}

.card-products {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-products img {
    margin-top: 40px;
    width: 250px;
    height: 250px;
}

.card-products button {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #1bcb7f;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
}

.card-prodcuts button:hover{
    opacity: 0.7;
}